* {
    margin: 0;
    padding: 222;
    font-family: sans-serif;
}

/*HEADER*/
header {
    background-color: gainsboro;
}

.logo img {
    height: 50px;
    width: 50px;
}

nav a {
    text-decoration: none;
}

/*GLOBAL*/
img {
    width: 600px;
    height: 300px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

a{
    font-size: 15px;
}

/*BODY*/
#box1 {
    background-color: thistle;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

#box2 {
    background-color: black;
    color: white;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

#box3 {
    background-color: black;
    color: white;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

#box3 h2 img {
    width: 25px;
    height: 25px;
}
